<div class="col-sm-12">
    <h2><%= name %></h2>
</div>
<div class="col-sm-6">
    <em>Description:</em>
    <div class="description">
        <%= info %>
    </div>
    <%= example %>
</div>
<div class="col-sm-6">
    <em>Configurations</em>
    <div class="configurations">
        <pre><%= configurations %></pre>
        <%= cliArgs %>
    </div>
</div>
