<div class="col-sm-12">
    <h2><%= name %></h2>
</div>
<div class="col-sm-6">
    Task Description:
    <div class="description">
        <%= info %>
    </div>
    <%= example %>
</div>
<div class="col-sm-6">
    Configurations
    <div class="configurations">
        <%= configurations %>
        <%= cliArgs %>
    </div>
</div>
